@using CodeLearn.Core.DTOs.Courses
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "خانه";
}

@section SearchBox
    {
    <header>
        <a href="" class="logo"><img src="/images/logo4.png"></a>
        <h1> با اساتید مجرب و کارآزموده در خودآموز کد لرن </h1>
        <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
        <h3> با کمترین هزینه خودت یاد بگیر </h3>
    </header>
    <div class="search-form">
        <form action="/Course" method="get">
            <input type="text" name="filter" id="autoFilter" placeholder="چی دوست داری یاد بگیری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
    <main id="home-page">
        <div class="container">
            <section class="terms-items">
                <header>
                    <h2> آخرین دوره های کد لرن </h2>
                    <a asp-controller="Course"> مشاهده همه دوره ها </a>
                </header>
                <div class="row">
                    <cache expires-after="TimeSpan.FromMinutes(10)">
                        @await Component.InvokeAsync("LatestCourse")
                    </cache>
                </div>
            </section>

            <hr>

            <section class="terms-items">
                <header>
                    <h2> دوره های محبوب کد لرن </h2>
                    <a asp-controller="Course"> مشاهده همه دوره ها </a>
                </header>
                <div class="row">
                    @{
                    List<ShowCourseListItemViewModel> popular = ViewBag.PopularCourse as List<ShowCourseListItemViewModel>;
                }
                @if (popular != null)
                {
                    @foreach (var item in popular)
                    {
                        <partial name="_BoxCourse" model="@item" />
                    }
                }
                </>
            </div>
        </section>
    </div>
</main>


@section Scripts
    {
    <script>
        $(document).ready(function() {
            $("#autoFilter").autocomplete({
                source: 'api/courseapi/search'
            });
        });
    </script>
}
